body {
  background-color: #64233A;
  font-family: 'Lato', sans-serif;
}

 button {
   margin-top: 20px;
 }
 span {
 font-weight: bolder;
 color: grey;
 }
input {
  float: right;
}

#confirmation span {
  font-weight: bold;
}
#comments {
  overflow:visible;
}
#datepicker {
  background-color: white;
}
#confirmation {
  display: none;
  font-size: 120%;
}
#length, #color, .therapy-types {
  width: 155px;
  float: right;
}

.color {
  width: 20px;
  height: 20px;
  display: flex;
}
.jumbotron {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: white;
}
.container {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
 }
