input {
  float: right;
}
.well {
  width: 50%;
}
#comments {
  height: 3em;
  overflow: auto;
}
#datepicker {
  background-color: white;
}
#confirmation {
  display: none;
}
#length {
  width: 30%;
  float: right;
}
#confirmation span {
  font-weight: bold;
}
